# MULTIPLICATION TABLE

In [11]:
n=12  #multipilcation of'12'
for i in range(1,11):  #multiplies from 1 to 10
    print(n,"*",i,"=",n*i)

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [12]:
n=12
for i in range (10,101,10):  #multiplication of 12 with an interval of '10'
    print(n,"*",i,"=",n*10)

12 * 10 = 120
12 * 20 = 120
12 * 30 = 120
12 * 40 = 120
12 * 50 = 120
12 * 60 = 120
12 * 70 = 120
12 * 80 = 120
12 * 90 = 120
12 * 100 = 120